@import "../../../assets/sass/base/base";
@import "../../../assets/sass/base/typography";
@import "../../../assets/sass/abstract/variables.scss";

.selectPetCard {
  height: 22rem;
  width: 17rem;
  border: 4px solid $color-primary;
  margin: 0 auto;
  position: relative;

  border-radius: 2rem;
  cursor: pointer;
  background-color: #fff;

  &__title {
    position: absolute;
    left: 50%;
    top: 6%;
    font-weight: bold;
    transform: translate(-50%, -50%);
    color: black;
  }
  img {
    height: 90%;
    width: 100%;
    margin-top: 2.5rem;
    padding-bottom: 1rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    z-index: 1;
  }
  &:hover {
    background-color: $color-primary;
    color: #fff !important;
  }
}
