@import "../../assets/sass/base/base";
@import "../../assets/sass/base/typography";
@import "../../assets/sass/abstract/variables.scss";

.mainDashboard {
  border: 1px solid #ccc;
  height: 100vh;
}

.mainContent {
  border: solid 1px lightblue;
  height: 65%;
  padding: 1rem;
  background-image: url("../../assets/img/petSelectionBg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
