// COLORS
$color-primary: #19bb56;
$color-primary-light: lighten(#19bb56, 20%);
$color-primary-dark: darken(#19bb56, 20%);

$color-secondary: #e9f4c5;
$color-secondary-light: lighten(#e9f4c5, 20%);

$color-tertiary: #ffd700;

$color-grey-light-1: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #464646;

$color-off-white: #eee;
$color-white: #fff;
$color-black: #222;

// FONT
$default-font-size: 1.6rem;
$default-font-family: Lato, sans-serif;

//MISC.

$default-border-radius: 20px;

.negative {
  color: $color-primary;
}

.positive {
  color: $color-secondary;
}

.neutral {
  color: $color-tertiary;
}
