// COLORS
$color-primary: #00b572;
$color-primary-light: lighten(#00b572, 10%);
$color-primary-dark: darken(#00b572, 20%);

$color-secondary: #fad25a;
$color-secondary-light: lighten(#fad25a, 20%);
$color-secondary-dark: darken(#fad25a, 20%);

$color-tertiary: #2367b5;
$color-tertiary-light: lighten(#2367b5, 20%);
$color-tertiary-dark: darken(#2367b5, 20%);

$color-quad: #c3fff8;

$color-grey-light-1: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #464646;

$color-off-white: #eee;
$color-white: #fff;
$color-black: #222;

// FONT
$default-font-size: 1.6rem;
$default-font-family: Lato, sans-serif;

//MISC.

$default-border-radius: 20px;

.negative {
  color: $color-primary;
}

.positive {
  color: $color-secondary;
}

.neutral {
  color: $color-tertiary;
}
