@import "../../../../assets/sass/abstract/variables.scss";

.mainNav {
  background-color: $color-primary-dark;
  height: 7vh;
  color: $color-off-white;
  &__map {
    background-image: url("../../../../assets/img/map.png");
    background-size: 40% 5.5rem;
    background-repeat: no-repeat;
    position: relative;

    & p {
      padding: 1rem 0rem 1.5rem 0.5rem;
      font-size: 1.8rem;
      color: $color-off-white;
      font-family: "RPGAwesome";
    }

    &:hover {
      background-color: $color-primary;
      cursor: pointer;
    }
  }
  &__defaultNavStyling {
    padding: 1.3rem 0rem 1.3rem 0.5rem;
    & a {
      font-size: 1.8rem;
      color: $color-off-white;
      font-family: "RPGAwesome";
    }

    &:hover {
      background-color: $color-primary;
      cursor: pointer;
    }
  }

  &__avatar {
    & p {
      padding: 1.5rem 0rem 0.6rem 0.5rem;
      font-size: 1.4rem;
      color: $color-off-white;
      font-family: "RPGAwesome";
      position: relative;
      text-align: center;
    }
    & img {
      height: 110%;
      width: 80%;
      position: absolute;
      right: 0.07rem;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
