@import "../../../assets/sass/base/base";
@import "../../../assets/sass/base/typography";
@import "../../../assets/sass/abstract/variables.scss";

.petManagementSection {
  height: 100%;
  width: 100%;
}
.mainPetPanel {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  cursor: pointer;

  &__card {
    position: relative;
    margin: 0 auto;
    height: 80%;
    width: 80%;
    border: 3px outset $color-primary;
    border-radius: $default-border-radius;
    box-shadow: 4px 8px 7px #888888;
    & h3 {
      color: $color-tertiary;
    }

    &:hover {
      h3 {
        color: $color-tertiary-light;
      }
    }
  }

  &__title {
    position: absolute;
    left: 50%;
    top: 6%;
    font-weight: bold;
    transform: translate(-50%, -50%);
    color: black;
  }
  img {
    height: 80%;
    width: 80%;
    margin-top: 15%;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    z-index: 1;
  }
}

.collectedPetPanel {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
  & h3 {
    color: $color-tertiary;
  }

  &__card {
    position: relative;
    margin: 0 auto;
    height: 80%;
    width: 80%;
    border-radius: $default-border-radius;
    &:hover {
      h3 {
        color: $color-tertiary-light;
      }
    }
  }

  &__title {
    position: absolute;
    left: 50%;
    top: 6%;
    font-weight: bold;
    transform: translate(-50%, -50%);
    color: black;
  }
  img {
    height: 70%;
    width: 70%;
    margin-top: 15%;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    z-index: 1;
  }
}

.inventorySection {
  height: 100%;
  border-left: 4px solid $color-primary;

  &__title {
    font-size: 2rem;
    text-align: center;
    color: $color-tertiary;
    font-weight: 900;
  }

  &__inventoryCard {
    height: 7.5rem;
    width: 7.5rem;
    padding: 0.5rem 0.2rem;
    margin: 1rem auto;
    position: relative;
    cursor: pointer;
    background-color: $color-tertiary;
    border: outset 5px darken(#b5651d, 15%);

    &:hover {
      background-color: $color-tertiary-light;
    }

    & img {
      height: 90%;
      height: 90%;
    }
    &__itemUses {
      position: absolute;
      top: -7%;
      right: 7%;
      font-size: 1.4rem;
      color: $color-off-white;
      border-radius: 8px;
      font-weight: 900;
    }
  }
}

.inventoryActive {
  border: 5px solid #00ff00;
}
