@import "../../../assets/sass/abstract/variables.scss";
@import "../../../assets/sass/abstract/mixins.scss";
@import "../../../assets/sass/base/base.scss";

.loggedOutContainer {
  background-color: #f7f7f7;
  opacity: 0.9;
  width: 50%;
  padding: 4rem;
  border-radius: $default-border-radius;
  @include absCenter;
  @include responsive("tab-port") {
    width: 75%;
  }

  @include responsive("phone") {
    width: 95%;
  }

  &__button {
    padding: 1rem 2.5rem;
    background-color: $color-secondary;
    border-radius: $default-border-radius;
    color: $color-white;
    box-shadow: 4px 8px 7px $color-black;
    &:hover {
      background-color: darken($color-secondary, 10%);
      color: $color-white !important;
      box-shadow: 4px 8px 7px $color-black;
    }
    &:active {
      box-shadow: 2px 4px 4px $color-black;
      transform: translateY(2px);
    }
  }

  & h1 {
    color: $color-primary;
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
    font-size: 3rem;
    font-weight: bolder;
  }
  & h2 {
    text-align: left;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: $color-black;
  }

  & label {
    font-size: 1.6rem;
    text-align: left;
    width: 100%;
    color: $color-black;
    & input {
      font-size: 1.6rem;
      text-align: left;
      width: 100%;
      margin-bottom: 1.5rem;
      background-color: $color-white;
      cursor: pointer;
    }
  }
}
