@import "../../../assets/sass/abstract/variables.scss";

.bottomLayout {
  height: 28%;
  background-color: $color-white;
  &__monsterImage {
    height: 100%;
    width: 100%;
    border: 3px outset $color-primary-dark;
    padding: 15px;

    & h1 {
      color: $color-primary;
      font-size: 2rem;
    }
    & img {
      height: 87%;
      width: 70%;
    }
    &:hover {
      cursor: pointer;
    }
  }

  &__abilityContent {
    background-color: $color-primary-light;
    border-top: 4px solid $color-primary;
    border-right: 4px solid $color-primary;
    border-bottom: 4px solid $color-primary;
    padding: 5px;

    & h2 {
      color: $color-off-white;
      font-weight: bolder;
      margin-bottom: 1.2rem;
    }
  }
  &__charImage {
    border: 5px solid $color-primary;
    height: 100%;
    width: 100%;

    & h2 {
      color: $color-primary;
      font-weight: 400;
    }
    & img {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translate(-50%);
      height: 70%;
      width: 60;
    }
  }
  .progress {
    font-size: 1.1rem;
  }
}
